@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root {
  font-size: 18px;
  font-family: 'Open Sans';
  --text-primary: rgb(237, 248, 248);
  --text-secondary: #17ABC0;
  --bg-primary: #152730;
  --bg-secondary: #00d5fb;
}

.navbar {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 90px;
  position: fixed;
  font-weight: 700;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  z-index: 100;
}

.navbar [data-active="true"] {
  background: #00d5fb;
}


html {
  scroll-behavior: smooth;

}

.navbar-nav {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  /* z-index: 100;
  opacity: 100; */
}

.navbar-nav div{
  padding: 30px 50px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 15px;
  /* width: 100vw; */

}

.navbar-nav div:hover{
  background-color: var(--bg-secondary);
}

.navbar-nav a{
  color: var(--text-primary);
  text-decoration: none;
}